/* styles.css */

/* Light Theme */
.light-theme {
  background-color: #f2f2f2 !important;
  color: #333 !important;
}

/* Dark Theme */
.dark-theme {
  background-color: #333 !important;
  color: #f2f2f2 !important;
}
