:root {
  --color-body-bg: #fff;
  --color-text: #000;
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-dark-bg: #212529;
  --color-dark-text: #fff;
  --color-dark-primary: #fff;
  --color-dark-secondary: #ccc;
}

body.dark {
  --color-body-bg: var(--color-dark-bg);
  --color-text: var(--color-dark-text);
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
}

/* Additional dark mode styles */
